# https://github.com/civisanalytics/python-glmnet

# numpy must already be installed before we install glmnet

# otherwise you get:
#   Downloading glmnet-2.2.1.tar.gz (90 kB)
#      ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.1/90.1 kB 4.3 MB/s eta 0:00:00
#   Preparing metadata (setup.py): started
#   Preparing metadata (setup.py): finished with status 'error'
#   error: subprocess-exited-with-error
#
#   × python setup.py egg_info did not run successfully.
#   │ exit code: 1
#   ╰─> [2 lines of output]
#       install requires: 'numpy'. use pip or easy_install.
#         $ pip install numpy
#       [end of output]

glmnet == 2.2.1
